

body .background{
  filter: blur(8px);
}

.page-wrap	{ 
  width: 90%; 
  margin: 0 auto 10%;
}
 h1 { 
  margin: 25px 0; 
  font: 70px Arial, Serif; 
  text-transform: uppercase; 
  letter-spacing: 3px;
  color: rgb(236, 76, 2);
  text-align: center;
  text-shadow: 2px 2px #4d302f;
  font-weight: bold;
}
h2 { 
  margin: 25px 0; 
  font: 30px Arial, Serif; 
  letter-spacing: 3px;
  text-indent: 55px;
  text-align: justify;
  text-shadow: 0.5px 0.5px #030303;
  color: rgb(236, 76, 2);
  
}
h3 { 
  margin: 25px 0; 
  font: 30px Arial, Serif; 
  letter-spacing: 3px;
  text-indent: 55px;
  color: rgb(236, 76, 2);
  text-align: justify;
  text-shadow: 1px 1px #080505;
}
.mediabazaar {
  margin-right: 0px;
  max-width: 55%;
  float: right;
  max-width: 50%;
}
* {
  box-sizing: border-box;
}

.column1 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column2 {
  float: right;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}