.container{
    width: 900px;
    
    margin-left: auto;
    margin-right: auto;
}
.postForm {
    margin-top: 70px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    float: left;
}
.left_side {
    width: 48%;
    padding-left: 15px;
    float: left;
    height:auto;
}
.right_side {
    width: 48%;
    padding-left: 15px;
    float: right;
}
.form_input{
    padding: 6px 10px;
    box-sizing: border-box;
    width: 250px;
}
.form_input:focus{
    box-shadow: 0 0 5px #43D1AF;
	border: 1px solid #43D1AF;
}
#btn_form{
        width: 250px;
        height: 35px;
        font-size: 18px;
        color: white;
        background-color: #001e38;
        text-decoration: none;
        border: none;
        transition-duration: 0.3s;
}
#btn_form:hover{
    background-color: #013c70;
}
#btnBlock{
    margin-top: 40px;;
    width: 100%;
    height: auto;
    float: left;
}