body  {
	margin: 0;
	padding: 0;
  }
  
  .logo1 {
	  max-width: 70px;
	  float: left;
  }
  /* ~~ Top Navigation Bar ~~ */
  @media (min-width:600px){
	.mobile-container{
		display:none;
	}
	.icon  {
		display:none;
	}
  #navigation-container {
	width: 100%;
	margin: 0 auto;
	height: 70px;
	float: left;
  }
  
  .navigation-bar {
	background-color: #013c4d;
	height: 70px;
	width: 100%;
  }
  
  .navigation-bar ul {
	padding: 0px;
	margin: 0px;
	text-align: center;
	float: left;
	background: #013c4d;
  }
  
  .navigation-bar li {
	list-style-type: none;
	padding: 0px;
	display: inline;
  }
  
  .navigation-bar li a {
	color: white;
	font-size: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 70px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 13px;
	padding-bottom: 13px;
	opacity: 0.7;
  }
  .navigation-bar li a:hover:not(.active) {
	background-color: #fd590d;
}

.active {
	background-color: #fd590d	;
}
  #menu {
	float: right;
  }
  /* Logout button */
.navigation-bar li#logout {
	float: right;
}
  }
@media only screen and (max-width:600px){
	#navigation-container{
		display:none;
	}
	.logo2 {
		max-width: 49px;
		float: left;
	}

 /* Style the navigation menu */

 .mobile-container{
	 height: 49px;
	 background-color: #013c4d;
 }
 .topnav {
	overflow: hidden;
	background-color: #013c4d;
	position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
   #myLinks {
	display: none;
	padding-top: 49px;
  }
  
  /* Style navigation menu links */
  .mobile-container a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
  }
  
  /* Style the hamburger menu */
  .mobile-container a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .mobile-container a:hover {
	background-color: #fd590d;
	color: black;

  }
  
  /* Style the active link (or home/logo) */
  .active {
	background-color: #013c4d;
	color: white;
  } 
  .icon {
	  display:block;
  }
}